/*Start global Rules*/
:root{
    --m-col:#00ffd9;
    --sec-col:#2c4755;
    --sec-pad: 60px;
    --sec-back: #f6f6f6;
}
html{
  scroll-behavior: smooth;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: "Work sans",sans-serif;
}
.container{
    padding-left: 15px;
    padding-right :15px;
    margin-left: auto;
    margin-right: auto;

}
/*Small*/
@media(main-width: 768px){
    .container{
        width: 750px;
    }
    /*medum*/
}
@media(main-width: 992px){
    .container{
        width: 970px;
    }
}
/*large*/
@media(main-width: 1200px){
    .container{
        width: 1170px;
    }
}
/*End global Rules*/
/* Start components */
.sp-hed{
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3;
    margin: 0;
}
.sp-hed + p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #202020;
}
@media(max-width: 767px){
    .sp-hed{
        font-size: 60px;
    }
    .sp-hed + p{
        margin-top: -20px;
    }
}
/* End components */
.header{
    padding: 20px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header .logo{
    width: 90px;
}
.header .links{
    position: relative;
}
.header .links:hover .icon span:nth-child(2){
 width: 100%;
}
.header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;

}
.header .links .icon span{
    background-color: rgb(34, 34, 34);
    margin-bottom: 5px;
}
.header .links .icon span:first-child{
    height: 2px;
    width: 100%;
}
.header .links .icon span:nth-child(2){
    height: 2px;
    width: 60%;
    transition: 0.3s;
}
.header .links .icon span:last-child{
    height: 2px;
    width: 100%;
}
.header .links ul{
list-style: none;
margin: 0;
padding: 0;
background:var(--sec-back);
position: absolute;
right: 0;
min-width: 200px;
top: calc(100% +15px);
display: none;
}
.header .links ul::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}
.header .links:hover ul{
         display: block;
}
.header .links ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
   transition: 0.3s;
}
.header .links ul li a:hover{
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a{
    border-bottom: 1px solid #ddd;
}
/*end header*/
/*star landing section*/
 .landing{
    background-image: url(/img/mountain-cloudy-sky.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
    z-index: -1;

 }
 .landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  text-align: center;
  width: 360px;
  max-width: 100%;
 }
 .landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--m-col);
   
 }
 .landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
 }
  /*End landing section*/
  /* star Features section */
  .Features {
    padding-top: var(--sec-pad);
    padding-bottom: var(--sec-pad);
    background-color: var(--sec-back);
  }
  .Features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.Features .feet {
    padding: 20px;
    text-align: center;

}
.Features .feet i {
    color:  var(--m-col);
    font-size: 200%;
}
.Features .feet h3 {
  font-weight: 800;
  margin: 30px 0;
}
.Features .feet  p {
    
 line-height:1.6;
 color: #777;
 font-size: 17px;
}
  /* End Features section */
  /* Strart services */
  .services{
    padding-top: var(--sec-pad);
    padding-bottom: var(--sec-pad);

  }
  .services .services-con{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;

  }
  .services .services-con .srv{
    display: flex;
    margin-bottom: 40px;
  }
  @media(max-width: 767px){
    .services .services-con .srv{
        flex-direction: column;
        text-align: center;
    }
  }
  .services .services-con .srv i{
    color: var(--m-col);
    flex-basis: 60px;
    font-size: 30px;
}
  .services .services-con .srv .text {
    flex: 1;
  }
  .services .services-con .srv .text h3 {
     margin:  0 0 3;
  }
  .services .services-con .srv .text p {
    color: #444;
    font-weight: 300;
    line-height: 1.8;
  }
  .services .services-con .srv .imag-col {
    text-align: center;
    position: relative;
    
  }
  .services .services-con .srv .imag-col::before{
    content: "";
    background-color: var(--sec-col);
    width: 80px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0;
    z-index: -1;

  }
  .services .services-con  .imag-col img {
    width: 260px;
  }
  @media(max-width: 1199px){
    .imag-col{
        display: none;
    }
  }
  /* End services */
/* End Portfolio */
  .Portfolio{
    padding-top: var(--sec-pad);
    padding-bottom: var(--sec-pad);
    background-color: var(--sec-back);
  }
  .Portfolio .Portfolio-con{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
  }
  .Portfolio .Portfolio-con .card{
    background-color: white;

  }
  .Portfolio .Portfolio-con .card img{
    max-width: 100%;
  }
  .Portfolio .Portfolio-con .card .inf { 
    padding: 20px;

  }
  .Portfolio .Portfolio-con .card .inf h3 {
  margin: 0;
  }
  .Portfolio .Portfolio-con .card .inf p {
    line-height: 1.8;
    margin-bottom: 0;
    color: #777;
  }
  /* End Portfolio */
/* Start About */
.About{
    padding-top: var(--sec-pad);
    padding-bottom: calc(var (--sec-pad) + 60px );
    
}
.About .About-con{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 991px){

  .About .About-con {
    flex-direction: column;
    text-align: center;
  }
  }


  

.About .About-con .image {
    position: relative;
    width: 250px;
    height: 375px;
}
@media (max-width: 991px){

  .About .About-con .image {
    margin: 0 auto 80px;
  }
}
.About .About-con .image::before{
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}
.About .About-con .image::after {
    top: -20px;
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--m-col);
    border-bottom: 80px solid var(--m-col);
    right: -150px;
    z-index: -1;
}
@media (max-width: 991px){

  .About .About-con .image::before,
  .About .About-con .image::after{
    display: none;
  }
}
.About .About-con .image img{
    max-width: 100%;
}
.About .About-con .text {
    flex-basis: calc(100% - 500px);
}
.About .About-con .text p:first-of-type{
  line-height: 2;
  font-weight: bold;
margin-bottom: 50px;
}
.About .About-con .text hr{
   width: 50%;
   display: inline-block;
   border-color: var(--m-col);
}
.About .About-con .text p:last-of-type{
    line-height: 2;
    color: #777;
  
}

/* Start About */
/* Start Contanct */
.Contanct{
  padding-top: var(--sec-pad);
  padding-bottom: var(--sec-pad);
  background-color: var(--sec-back);
}
.Contanct .inf{
  padding-top: var(--sec-pad);
  padding-bottom: var(--sec-pad);
  text-align: center;
}
.Contanct .inf .label{
  font-size: 40px;
  font-weight: 800;
  color: (#2c4755);
  letter-spacing: -2px;
  margin-bottom: 15px;

}
.Contanct .inf .link{
  display: block;
  font-size: 40px;
  font-weight: 800;
  color: var(--m-col);
  text-decoration: none;
}
.Contanct .inf .social{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}
.Contanct .inf  i  {
  margin-left: 10px;
 color: #2c4755;
}
@media(max-width: 767px){
  .Contanct .inf .link,
  .Contanct .inf .label
  {
    font-size: 25px;
  }
}

/* End Contanct */
 /* Strart Footer */
 .footer{
  background-color: #2c4755;
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
 }
 .footer span{
   font-weight: bold;
   color: var(--m-col);
 }
 /* End Footer */